.node {
  width: 32px;
  height: 32px;

  padding: 4px;

  border: 2px dashed rgb(175, 216, 248);
}

.node-finish {
  background-color: #cd1818;
}

.node-start {
  background-color: #005b41;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.5);
    background-color: #4d4c7d;
    border-radius: 100%;
  }

  50% {
    background-color: #beadfa;
  }

  100% {
    transform: scale(1);
    background-color: #687eff;
  }
}

.node-wall {
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgb(12, 53, 71);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1);
    background-color: rgb(12, 53, 71);
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #d49b54;
  }

  50% {
    transform: scale(1.2);
    background-color: #d49b54;
  }

  100% {
    transform: scale(1);
    background-color: #d49b54;
  }
}
